.venv/
__pycache__/
*.pyc
interim/
processed/
raw/
runs/
mlruns/
.dvc/
.checkpoints/

#manifest
*.json

#output
*.txt
*.png
*.pth

#logs
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*